{% extends "themes/base_admin.html.twig" %}



{% block title %}Espace d'administration{% endblock %}

{% block description %}Espace d'administration{% endblock %}

{% block main %}
<h1 class="text-center my-3 display-5 texte-rose">Salut {{app.user.firstName}}</h1>

{% endblock %}