{% extends 'themes/base_admin.html.twig' %}

{% block title %}Modifier ce tag{% endblock %}

{% block description %}Modifier ce tag{% endblock %}

{% block main %}
 <h1 class="text-center my-3 display-5">Modifier ce tag</h1> 


<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            {{ form_start(form) }}
               <div class="mb-3">
                   <label for="tag_form_name">Nom</label>
                   <div class="text-danger">{{form_errors(form.name)}}</div>
                   {{ form_widget(form.name, {'attr': {'class':'form-control'}}) }}       
               </div>


               <div>
               <input formnovalidate type="submit" class="btn btn-primary" value="Modifier">
               </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}