* {
  font-family: 'Poppins', sans-serif;
}

html, .body-visitor {
  height: 100%;
}

.body-visitor {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
}

.jd-active {
  color:#ff00a2;
}

.jd-visitor-header
 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.container-jd
{

  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width:500px)

  {
     width: 100%;
     margin-left: auto;
     margin-right: auto;
    
  }

}

.btn-rose
{
  background: #ff00a2;
}

.texte-rose
{
  color: #ff00a2;
}

.white
{
  color: #ffffff;
}
