* {
  font-family: 'Poppins', sans-serif;
}

html, .body-visitor {
  height: 100%;
}

.body-visitor {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
}
