{% extends "themes/base_visitor.html.twig" %}

{% block title %}Page de blog{% endblock %}

{% block description %}Lisez des articles interessants{% endblock %}

{% block keywords %}Blog, Jean Dupont, Santé, Medecine, Articles{% endblock %}

{% block main %}
    <main>
        {% include 'components/header_visitor.html.twig' with {'h1':'Page de blog'} %}
    </main>
{% endblock %}