{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Page de contact{% endblock %}

{% block description %} Contactez moi si tous avez des questions ou des idées{% endblock %}
{% block keywords %}Blog, Médecine, Santé, Jean Dupont, Contact{% endblock %}

{% block main %}
<main>
   <h1>Page de contact</h1>
</main>
 
{% endblock %}