{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block description %} Lisez les articles pertinents et intéressants sur l'actualité des stars africains{% endblock %}
{% block keywords %}Blog, Actualité, People, Marie Nana, Afrique, Stars{% endblock %}

{% block main %}
<main>
   <h1 class="text-center display-5 ">Page d'accueil</h1>
</main>
 
{% endblock %}