{% extends 'themes/base_visitor.html.twig' %}

{% block title %}En attente de la vérification du compte par email{% endblock %}

{% block description %} En attente de la vérification du compte par email{% endblock %}
{% block keywords %}Blog, Médecine, Santé, Jean Dupont, Contact, Inscription{% endblock %}

{% block main %}
<main>
   <div class="container mt-5 text-center">
        <div class="row">
            <div class="cold-md-8 mx-auto">
                <h1 class="my-3 display-5">En attente</h1>
                
                   <p>Un email vous a été envoyé pour la vérification du compte par email</p>
             </div>
         </div>
    </div>
</main>
 
{% endblock %}